html {
  scroll-behavior: smooth;
}


a:link {
  text-decoration: none;
}

/* .navito en media queries*/
.parallax {
  position: relative;

  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-div {
  position: absolute;
  display: none;
  top: 0;
  width: 40vw;
  right: 5%;
  z-index: 1;
}
.titulo-digital {
  position: relative;
  font-family: "Press Start 2P";
  color: cyan;
  text-shadow: 2px 2px blue;
  font-size: 2vw;
  text-align: center;
}

.titulo-kamal {
  position: relative;
  font-family: "Kaushan Script";
  color: blue;
  text-shadow: 2px 2px cyan;
  font-size: 6vw;
  text-align: center;
}

.roboto {
  font-family: "Press Start 2P";
}

.card-text {
  font-family: "Arial";
}

#background-video {
  position: absolute;
  right: 0;
}

.buttons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.video-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

header {
  position: relative;
  background-color: transparent;
  height: 75vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
video#videobg {
  /* position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  min-height: 100%;

  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);*/
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.texto-video {
  position: relative;
  z-index: 2;
  vertical-align: bottom;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header p,
header small {
  position: relative;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  text-shadow: 1px 1px 3px black;
}

.quotes-container {
  position: relative;
  margin-top: 140px;
  padding-left: 60%;
  padding-right: 2%;
}

.my-10 {
  padding-top: 10vh;
  margin-bottom: 10vh;
}

.fluid-img {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}
.fading-quotes {
  position: relative;
  display: none;
  font-family: "Sawarabi Gothic";
  color: white;
  text-shadow: 4px 2px black;
}


.card-section {
  height: auto;
  position: absolute;
  margin-left: 40px;
  top: 100vh;
}

.card-text {
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
}


@media screen and (max-width: 500px) {
#site{
  display: none;
}
#size-error{
  display: inline;
}
}
/*
@media screen and (max-width: 500px) {
  .card-section {
    height: auto;
    position: absolute;
    top: 400px;
  }
  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 12px;
  }

  .navito {
    position: fixed;
    display: none;
    top: 75px;
    left: 0;
    z-index: 10;
    width: 200px;
  }
}
*/
@media screen and (min-width: 501px) and (max-width: 767px) {
  #size-error{
    display: none;
  }
body {
  background-color: black;
  overflow-x: hidden; /* Hide X scrollbars */
}
  .card-title {
    font-size: 24px;
  }

  .card-text {
    font-size: 18px;
  }

  .navito {
    position: fixed;
    display: none;
    top: 75px;
    left: 0;
    z-index: 10;
    width: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #size-error{
    display: none;
  }
body {
  background-color: black;
  overflow-x: hidden; /* Hide X scrollbars */
}
  .card-title {
    font-size: 18px;
  }
  s .card-text {
    font-size: 14px;
  }

  .navito{
    position: fixed;
    display: none;
    top: 75px;
    left: 0;
    z-index: 10;
    width: 200px;
    }
}

@media screen and (min-width: 1200px) {
  #size-error{
    display: none;
  }
body {
  background-color: black;
  overflow-x: hidden; /* Hide X scrollbars */
}
  .quotes-container {
    position: relative;
    margin-top: 250px;
    padding-left: 60%;
    padding-right: 2%;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 18px;
  }

  .navito{
    position: fixed;
    display: none;
    right: 0%;
    z-index: 10;
    width: 500px;
    }
}

/* @media screen and (min-height: 801px) {
  .card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

@media screen and (max-height: 800px) {
  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}*/

​ .b-r {
  border: 1px solid rgb(255, 23, 124);
}
.b-y {
  border: 1px solid yellow;
}

.b-g {
  border: 1px solid green;
}

.z-back {
  position: relative;
  z-index: -5;
}

.z-mid {
  position: relative;
  z-index: 0;
}
.z-front {
  position: relative;
  z-index: 5;
}

.f-front {
  position: fixed;
  z-index: 5;
}
