#solo_pruebas {
    color: rgb(199, 199, 0);
}

html {
    font-size: 2.6vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D6D6D6;
}

.app {
        width: 578px;
        height: 600px;
     /*   background-color: red;*/
    
}


/* Ancho y largo del pokedex. La idea es sea dinamico */


/* El tamaño durante la construccion fue de 578x600 px, ahora es dinamica:
    */

#pokedex {
    z-index: 0;
    margin-left: 0%;
    display: inline-block;
    /* height: 100vh;
    width: 96.3vh; */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;  
    margin: auto; 
}

#pokedex-img {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
}

* .texto {
    color: white;
    font-family: 'Press Start 2P';
    font-size: smaller;
}

.texto h3 {
    color: white;
    font-family: 'Press Start 2P';
    font-size: 1rem;
}

.pantalla {
    /* border: 1px solid cyan; */
    background-color: black;
    position: absolute;
    z-index: 1;
}


/* //PANTALLAPRINCIPAL */

.pantalla-principal {
    /* border: 1px solid green; */
    position: relative;
    top: 19%;
    left: 8.4%;
    width: 36%;
    height: 65.03%;
    z-index: 0;
}

#loading-img {
    position: absolute;
    top: 87.3%;
    left: 76.89%;
}

#pImg {
    height: 50%;

}

#pStats {
    margin-top: 5%;
    position: relative;
    top: 60%;
    height: 35%;
    overflow: hidden;
}

.canvasjs-chart-credit {
    color: black;
}


/* //END  */


/* PANTALLA DE BUSQUEDA */

.pantalla-busqueda {
    margin: 0;
    top: 29.65%;
    left: 59.9%;
    width: 36.2%;
    height: 15.8%;
    border-radius: 10px;
}

#buscador {
    height: 100%;
    width: 100%;
}

#encontrado-mensaje {
    background-color: black;
    left: 61.9%;
    top: 35.8%;
    width: 32.8%;
    height: 3.3%;
    color: green;
    border-radius: 10px;
}

.controles {
    z-index: 1;
}

#enter {
    display: inline;
    position: absolute;
    font-size: 0.75rem;
    top: 319.6%;
    left: -1.1%;
    width: 41.9%;
    height: 42%;
}

input:focus {
    /* estos son para mantener el color negro del placeholder del formulario*/
    background-color: black;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    text-align: center;
    color: white;
    border-color: black;
}

input {
    background-color: black;
    font-family: 'Press Start 2P';
    font-size: small;
    text-align: center;
    color: white;
    border-color: black;
    font-size: 1rem;
    border-radius: 10px;
}


/* END PANTALLA BUSQUEDA */


/* DIV DE POKEMONES COINCIDENCIA */

#infoBox {
    color: black;
    position: absolute;
    font-family: 'Press Start 2P';
    font-size: 0.75rem;
    z-index: 2;
    max-width: 100%;
    display: inline-block;
}

#infoBox p {
    display: none;
    /* font-size: 1rem; */
}

#pokemonList {
    margin-top: 30px;
    font-size: 0.75rem;
}
@media (max-width: 780px) {
    .hideOnStacking {
       display: none;
    }
}

/* END COINCIDENCIA */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

h3 .red {
    color: red;
}

.red {
    color: red;
}

.b-green {
    border: 1px solid green;
}

.b-red {
    border: 1px solid red;
}

.b-cyan {
    border: 1px solid cyan;
}

.b-yellow {
    border: 1px solid yellow;
}

.b-blue {
    border: 1px solid blue;
}

.al-frente {
    z-index: 10;
}

.al-fondo {
    z-index: -5
}

.zi-3 {
    z-index: 3;
}

.zi-2 {
    z-index: 2;
}

.zi-1 {
    z-index: 1;
}

.zi-background {
    z-index: -10;
}